<div class="wrapper single-page about-page" style="min-height: 569px;">
  <div class="about-banner-image">
    <p>
      <%= image_tag 'logo_full.png', class: 'alignnone size-medium wp-image-731', alt: 'PantherHackers Logo', width: 276, height: 300 %>
    </p>
  </div>
  <div class="about-page-content">
    <h1>
      <b>Coding, it’s like learning a new language.</b>
    </h1>
    <p>
      <span style="font-weight: 400;">It can be tough, but it doesn’t have to be. When you surround yourself with a community of people that speak the same language, learning becomes easy.</span>
    </p>

    <h1>
      <b>Our Mission </b>
    </h1>
    <p>
      <span style="font-weight: 400;">We believe everyone should learn how to code. In our growing digital world, coders are the new builders and architects. Everything from microwaves to cars have code in them. We want to </span><b>empower</b><span style="font-weight: 400;"> you with the knowledge to be successful in the ever growing digital age.
      </span>
    </p>

    <h1>
      <b>Join the community</b>
    </h1>
    <p>
      <span style="font-weight: 400;">We speak the language, and we would love to teach you. Our community is comprised of 200+ members who share a passion of creating and building through coding. <b>We are now a cross-campus community!</b>. 
      </span>
    </p>

    <p>
      <strong>Join us and bring your ideas to life!</strong>
    </p>

    <h1>
      <b>Interest Groups </b>
    </h1>
    <p>
      <span style="font-weight: 400;">Coding is a very broad subject. There are tons of things you can do with it. Currently we have nine different interest groups ranging from iOS and Android development to 3D modeling and Game development. 
      </span>
    </p>

    <p>
      <span style="font-weight: 400;">Check out all our interest groups </span>
      <a href="http://pantherhackers.com/about/interestgroups/" target="_blank"><b>here</b></a>
      <span style="font-weight: 400;">.
      </span>
    </p>
    
    <h1>
      <b>Partnerships</b>
    </h1>
    <p>
      <span style="font-weight: 400;">We’ve only been around for a year, but we’ve been able to make great partnerships with Atlanta’s tech and entrepreneurship community. Our most recent partnerships is with </span><a href="http://techsquare.co/" target="_blank"><b>Techsquare Labs</b></a><span style="font-weight: 400;">.
      </span>
    </p>

    <h1>
      <b>Hackathons</b>
    </h1>
    <p>
      <span style="font-weight: 400;">Welcome to the wonderful world of hackathons - caffeine fueled, high energy, high intensity events where coders of all skill levels come together to build teams, come up with ideas and bring those ideas to life in the span of 24 - 72 hours. You’ll have tons of fun, meet cool people, and learn a lot. Don’t expect to get much sleep though.</span>
    </p>

    <h1>
      <b>Interested? </b>
    </h1>
    <p>
      <span style="font-weight: 400;">Take the next step! <strong><a href="https://www.pantherhackers.slack.com" target="_blank">Join our Slack Channel.</a></strong>
      </span>
    </p>
  </div>
</div>
