
<div class="wrapper single-page" style="min-height: 569px;">
  <h2 class="heading top-heading">Interest Groups</h2>
  <section class="page-section">
    <div class="page-content flex-grid">
      <div class="card card-two-per-line">
        <div class="card-content">
          <span class="card-heading">
            SolveForX.
          </span>

          <p class="card-text">
          Bring out your inner Genius // At SFX we like a challenge - we believe that continuous problem-solving is the best way to mold your beautiful nerd brain. Here we solve fun riddles, play with coding challenges, learn algorithmic strategies, and scratch the itchy part of your curious mind. Thursdays @ 7:15pm
          </p>


          <%= image_tag('solveforx.png', :style => "height: 150px; width: 600px") %>
        </div>
      </div>
      <div class="card card-two-per-line">
        <div class="card-content">
          <span class="card-heading">
            InfoSec.
          </span>

          <p class="card-text">
          Don’t fear the dark, play in it! // Learn the secrets of computer security with people who embrace the unknown. Ever wonder how computers work behind the scenes? How hackers take advantage of others’ mistakes? Well then, InfoSec is the place and family for you. Mondays @ 8p
          </p>

          <%= image_tag('infosec.png', :style => "height: 150px; width: 600px") %>
        </div>
      </div>
      <div class="card card-two-per-line">
        <div class="card-content">
          <span class="card-heading">
            Fullstack WebDev
          </span>

          <p class="card-text">
          Have you always wanted to design your own website but didn't know where to start? Have you dabbled in some HTML and CSS in the past, but always wanted to branch out into something more advanced? Meeting times are set for Wednesdays at 7pm at LaunchGSU.
          </p>

          <%= image_tag('fullstack.png', :style => "height: 150px; width: 600px") %>
        </div>
      </div>


      <div class="card card-two-per-line">
        <div class="card-content">
          <span class="card-heading">
            GameDev
          </span>

          <p class="card-text">
          Get yourself past common hurdles in development with peers that are in it to win it. Have you ever wanted to make a game, but found it a daunting task alone? We've got you covered. Interested in practical psychological theory that goes into Game Development? We've got that too! GameDev meets weekly at LaunchGSU, 4pm.
          </p>

          <%= image_tag('gamedev.png', :style => "height: 150px; width: 600px") %>
        </div>
      </div>
    </div>

  </section>
</div>
