@media screen and (max-width:600px) {
  .single-blog-post.main-content {
    width:100% !important;
    border-radius:0 !important;
  }
  .post-image-area.overlay-group {
    padding:5% 15px 5% 15px !important;
  }
  .wrapper.post-content {
    top:0;
    max-width:85% !important;
    border:none !important;
  }
}

.single-blog-post.main-content {
  position: relative;
  width: 80%;
  margin: 0 auto;
  height: auto;
  margin-bottom: 40px;
  margin-top: 20px;
  background-color: rgb(245,245,245);
  border-radius: 7px;
  overflow: hidden;
  box-shadow:inset 0 0 0 1px rgb(230,230,230)
}
.post-image-area.overlay-group {
  height:auto;
  width:100%;
  padding-top: 5%;
  padding-bottom: 10%;
  background-size:cover !important;
  background-position:center !important;
}
.overlay-top {
  opacity:1;
}
.title {
  margin-bottom:0;
  max-width:85%;
  margin-left:7.5%;
  margin-right:7.5%;
}
.author {
  font-size:13pt;
}
.post-info.overlay-bottom {
  position:relative !important;
}
.wrapper.post-content {
  // max-width:87.5%;
  font-size:15pt;
  border-radius:5px;
  border:1px solid rgb(235,235,235);
  margin-bottom:-25px;
}